.tags {
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    padding: 35px 50px;
}
.tags-head {
    text-align: center;
    font-size: 28px;
}
.tags-counter {
    text-align: center;
    font-size: 16px;
}
.tags-item>span {
    display: inline-block;
    font-size: 18px;
    border-bottom: 1px solid grey;
}