* {
    /*
       * 为通配符，匹配所有元素
       margin 为当前元素与父级元素的边框距离
       padding 为当前元素的内边距
       都设置为0表示所有元素都在父级元素的左上角且不留空隙
    */
    margin: 0;
    padding: 0;
}

.fatherBox {
    margin: 0 auto; /*居中显示*/
    width: 80%;
    background-color: rgb(235,235,235);
}
.leftBox {
    position: fixed;
    width: 200px;
}
.leftTopBox {
    float: top;
    width: 100%;
    height: 310px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
}
.site-name {
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    background-color: rgb(0, 0, 0);
}
.site-name>span {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.site-nav {
    width: 100%;
    height: 250px;
}
.site-nav>ul {
    width: 100%;
    margin-top: 8px;
    list-style: none;
}
.nav-li {
    position: relative;
    list-style: none;
    padding: 7px 10%;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s all;
}
.nav-li:hover {
    background-color: rgb(248,248,248);
}
.nav-icon{
    color: rgb(75,75,75);
}
.nav-text {
    margin-left: 15px;
    color: rgb(99,99,99);
}
.nav-cur {
    position: absolute;
    display: none;
    top: 50%;
    right: 10px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: rgb(179,178,179);
    border-radius: 50%;
}
.leftBottomBox {
    float: top;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    background-color: rgb(245,245,245);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.15);
}
.avatar {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: cadetblue;
}
.master {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    color: rgb(31,31,31);
    font-weight: bold;
}
.motto {
    margin: 15px auto;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: rgb(164,164,164);
}
.overview>ul {
    margin: 15px auto 10px;
    width: 100%;
    list-style: none;
    text-align: center;
}
.overview>ul>li {
    display: inline-block;
    width: 25%;
}
.overview>ul>li:nth-child(2) {
    border-left: 1px solid rgb(235,235,235);
    border-right: 1px solid rgb(235,235,235);
}
.overview>ul>li>span {
    display: block;
    text-align: center;
    font-size: 15px;
}
.overview-num {
    font-weight: bold;
}
.overview-label {
    color: rgb(164,164,164);
}
.contact {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}
.contact>div {
    display: inline-block;
    margin: 0 10px 10px;
    color: rgb(75,75,75);
    font-size: 14px;
}
.contact>div>span:nth-child(2) {
    margin-left: 8px;
}
.rightBox {
    position: relative;
    margin-left: 210px;
}
.footer {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(142,142,142);
    font-size: 14px;
    text-align: center;
}
